.divCenter{
  margin-left: 10%;

}​

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;

}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 16%;
  background-color: #222222;
}

.fondoC{

background-color: #F5F5F5;
border: 2px solid;
  border-radius: 8px;
  margin: 0 auto;
  opacity: 1;
  position: relative;
  top: 100px;



}
